* {
    font-family: Montserrat;
    box-sizing: border-box;
  }
  
  body > div {
    margin-bottom: 20px;
  }
  
  .toast {
    width: 320px;
    border: 1px solid gray;
    border-radius: 6px;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px;
  }
  
  .toast .icon {
    width: 32px;
    height: 32px;
    background: url(images/infoIcon.svg) no-repeat;
  }
  
  .toast section {
    flex-grow: 1;
  }
  
  .toast h2 {
    font-size: 16px;
    margin: 0;
  }
  
  .toast p {
    font-size: 14px;
    margin: 4px 0 0 0;
    color: #4D4D4D;
  }
  
  .toast header {
    display: flex;
    justify-content: space-between;
  }
  
  .toast.success {
    border-color: #6fcf97;
  }
  
  .toast.success .icon {
    background-image: url(images/successIcon.svg);
  }